*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html{
    width: 100%;
    height: 100%;
    background: #aaaaaa;
    display: flex;
    align-items: center;
    justify-content: center;
}
:root{
    --btn-color: ;
}

.container {
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 90%;
}

.auth-container{
    width: 100%;
    height: 80vh;
    padding: 60px;
    display: grid;
    gap: 50px;
    grid-template-columns: repeat(2, 1fr);
    background-image: url('background.jpg');
    background-size: cover;
    /* display: none; */
}
.auth-container .image-container{
    height: 100%;
    display: flex;
    align-items: center;
}
.auth-container .form-container{
    width: 100%;
    height: 100%;
}

#register-form{
    display: none;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    height: 100%;
}

form .profile{
    width: 140px;
    height: 140px;
    border-radius: 50%;
    overflow: hidden;
    margin: 20px 0;
}
form .profile img{
    width: 100%;
    object-fit: cover;
}
form input{
    width: 70%;
}

form .toggle{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
}
form .toggle span{
    margin-top: 20px;
    font-size: 15px;
    font-weight: 400;
    color: #01A7EB;
    cursor: pointer;  
}
form .toggle span:hover{
    text-decoration: underline;
}



#app{
    height: 80vh;
    background-color: #F9C1E6;
    /* display: flex; */
    flex-direction: column;
    gap: 20px;
    padding: 40px;
    align-items: center;
    justify-content: flex-start;
    position: relative;
}
#app #task-form{
    width: 80%;
    /* background-color: black; */
    margin: 20px auto;
    display: flex;
    justify-content: center;
    gap: 20px;
}
#app #task-form input{
    font-size: 18px;
}

#app #task-list{
    width: 100%;
    /* background: #635e5e; */
    display: flex;
    border-radius: 5px;
    flex-direction: column;
    gap: 10px;
    flex-wrap: nowrap;
    overflow: auto;

}
#app #task-list .task{
    width: 100%;
    display: flex;
    padding: 10px;
    border: 1px solid black;
    border-radius: 8px;
}

#app #task-list .task .task-text{
    width: calc(100% - 150px);
    max-height: 45px;
    outline: none;
    border: none;
    text-align: start;
    font-size: 17px;
    resize: none;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 10px;
    background-color: transparent;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    border-radius: 5px;
}
.completed{
    text-decoration: line-through;
}


#app #task-list::-webkit-scrollbar{
    display: none;
}
#app #task-list .task .btns{
    width: fit-content;
    flex-wrap: nowrap;
    display: flex;
    gap: 5px;
    /* background-color: red; */
    align-items: center;
}
#app #task-list .task .btns button{
    padding: 7px 10px;
    height: 40px;
    width: 40px;
}


.user-profile{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 20px;
    right: 20px;
    align-items: end;
    gap: 10px;
}

.user-profile .username{
    font-size: 18px;
}
.user-profile .logout{
    font-size: 18px;
    /* background-color: #fff; */
    padding: 8px;
    border: 2px solid black;
    border-radius: 50%;
    cursor: pointer;
}
.user-profile .logout:hover{
    background-color: rgba(0, 0, 0, 0.1);
}


















.hidden{
    display: none;
}

input, button {
    margin: 5px 0;
    padding: 10px;
    /* border: 1px solid #ddd; */
    border: none;
    border-radius: 4px;
    outline: none;
}

button {
    font-size: 18px;
    padding: 10px 50px;
    background-color: #01A7EB;
    color: white;
    border: none;
    cursor: pointer;
    white-space: nowrap;
}

button:hover {
    background-color: #0082b6;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

li.completed {
    text-decoration: line-through;
    color: grey;
}

.dragging {
    opacity: 0.5;
}